<header class="app-brandbar topbar" id="app-brandbar" >
  <div class="container app-brandbar-inner">
    <div class="row">
      <div class="col-xs-12 col-lg-8">
        <nav class="navbar navbar-default" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#app-brandbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="app-brandbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Vita</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-xs-12 col-lg-4" id="topbar-brand">
        <a href="" class="app-brandbar-brandname" id="brandname">
          Reiner Erben
        </a>
      </div>
    </div>
  </div>
</header>