<footer class="app-footer" id="site-footer">
  <div class="container" id="footer">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <p class="app-footer-content">
          <a href="/impressum" class="footer-link"
            rel="nofollow">
            Impressum
          </a>
        </p>
      </div>
      <div class="col-xs-12 col-md-4">
        <p class="app-footer-social-links text-right" id="app-footer-social-links">
          <a href="http://twitter.com/reinererben"
            rel="nofollow">
            <i class="fa fa-twitter fa-2x"></i>
          </a>
        </p>
      </div>
  </div>
</footer>