<aside class="app-sidebar" id="sidebar">
    <form id="search" class="hidden-sm" name="search" action="/search">
        <div class="input-group xspan12">
        <input id="search-site"
            type="text"
            name="SearchableText"
            title="Search this site&hellip;" accesskey="4"
            class="inputLabel roundedleft" size="15"
            />
        <span class="input-group-btn">
        <button class="btn"
            type="submit"
            value="Search"
            id="search-site-button">
            <i class="fa fa-search"></i>&nbsp;
        </button>
        </span>
        </div>
    </form>
    <div id="sidebar-content">
    </div>
    <div class="tile tile-twr">
      <a class="twitter-timeline"  href="https://twitter.com/reinererben"  data-widget-id="345096033270919168">Tweets von @reinererben</a>
    </div>
    <div class="tile tile-cta text-right">
      <a href="http://gruene-augsburg.de/meta-navigation/mitmachen/eintreten/"
        class="tile-link">
        <img src="{{ page.base_url }}assets/img/panel-cta-signin.png" />
      </a>
    </div>
    <div class="tile tile-cta text-right">
      <a href="http://www.gruene.de/themen/wirtschaft-arbeit/das-steuerkonzept-der-gruenen-mit-rechenbeispielen.html"
        class="tile-link">
        <img src="{{ page.base_url }}assets/img/panel-cta-taxes.png" />
      </a>
    </div>
    <div class="tile tile-cta text-right">
      <a href="http://www.gruene.de/themen/atomausstieg-energiewende/atomausstieg-einfach-selber-machen-und-jetzt-strom-wechseln.html"
        class="tile-link">
        <img src="{{ page.base_url }}assets/img/panel-cta-energy.jpg" />
      </a>
    </div>
    <div class="tile text-right">
      <img src="{{ page.base_url }}assets/img/logo-buegrue.png" />
    </div>
</aside>