// Custom application specific styles
//--------------------------------------


body {
    //background: #f5f5f5;
}

body > header {
    margin-bottom: @line-height-computed;
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Yanone Kaffeesatz';
}


#toolbar + #topbar {
    margin-top: @navbar-height;
}

#topbar {
  background: rgba(100, 161, 45, 1.0);
  padding: @line-height-computed 0;
  .nav > li {
    > a {
      color: @gray-lighter;
      &:hover {
        color: @gray;
        background-color: @body-bg;
        border-radius: 0px;
      }
    }
    &.active > a,
    &.selected > a,
    &.active > a:hover,
    &.selected > a:hover,
    &.active > a:focus {
      color: @gray;
      background-color: @body-bg;
      border-radius: 0px;
      border-bottom-color: transparent;
      cursor: default;
    }
  }
}

#topbar-brand {
  h3 {
    color: #fff;
    margin-bottom: 0px;
    font-size: ceil(@font-size-base * 2.5);
    > a,
    > a:hover {
      color: #fff;
    }
  }
  h5 {
    color: @gray-lighter;
    margin-top: 0px;
  }
}

// Some eample styles for portlets

.portlet {
  .portletHeader {
    font-size: @font-size-base * 1.5;
    padding: @padding-large-vertical;
    border-bottom: 1px solid @gray-light;
  }
  .portletItem {
    padding: @padding-large-vertical;
  }
  .portletFooter {
    padding: @padding-large-vertical;
    font-size: @font-size-small;
  }
}

// erben styles for listings (e.g. folder summary view)

.tileItem {
  .media();
  .tileHeadline {
    .media-heading();
  }
}

.documentDescription {
  .lead();
}

#blog-entry-meta {
  padding: @line-height-computed * 2.5 @line-height-computed 0 0;
  .icon-stack {
    font-size: @font-size-base * 4.5;
    color: @gray;
  }
}


// erben styles for a HMTL5 based site footer
body > footer {
    margin-top: @line-height-computed;
    padding: @line-height-computed 0;
    border-top: 1px solid @gray-lighter;
}



// Responsive: Large desktops and up
@media screen and (min-width: @screen-large-desktop) {
  #content {
      font-size: @font-size-base + 4;
  }
}